{% extends "base.html" %}
{% block content %}

{% for cafe in cafe_list %}
<div class="row list_div">
    <div class="col-xs-12">
        <a href="{% url 'cafe:cafe_detail' cafe.pk %}">{{cafe.name}}</a>
        {% if cafe.is_wifi %}
            <span>와이파이</span>
        {% endif %}
        {% if cafe.is_smoke %}
            <span>흡연</span>
        {% endif %}
        {% if cafe.is_24 %}
            <span>24시</span>
        {% endif %}
        {% if cafe.is_plug %}
            <span>플러그</span>
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}