{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <!-- CONTENT
    ================================================== -->

    <!-- Showcase -->
    <div class="showcase">

      <div id="showcase-carousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#showcase-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#showcase-carousel" data-slide-to="1"></li>
          <li data-target="#showcase-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

          <!-- Item 1 -->
          <div class="item item_1 active">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                  <div class="table_centered">
                    <div class="table_centered__cell">

                      <!-- Add animation classes to the active slide only -->


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Item 2 -->
          <div class="item item_2">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                  <div class="table_centered">
                    <div class="table_centered__cell">



                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Item 3 -->
          <div class="item item_3">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="table_centered">
                    <div class="table_centered__cell">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- / .carousel-inner -->

        <!-- Controls -->
        <a class="carousel__control carousel__control_left" href="#showcase-carousel" role="button" data-slide="prev">
          <img src="{% static 'assets/img/arrow_left.svg' %}" alt="...">
        </a>
        <a class="carousel__control carousel__control_right" href="#showcase-carousel" role="button" data-slide="next">
          <img src="{% static 'assets/img/arrow_right.svg' %}" alt="...">
        </a>

      </div> <!-- / .carousel -->

    </div> <!-- / .showcase -->
<div>
<center>
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">카페 검색</button>
</center>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center>
        <h2 class="modal-title">지역 선택</h2>
        </center>
      </div>
      <div class="modal-body">
      <center>
        <select  style="display: inline-block; width:50%;" class="form-control">
          <option id="choice" value="snu">서울대입구</option>
          <option id="choice" value="hongdae">홍대입구</option>
          <option id="choice" value="kangnam">강남역</option>
        </select>
        <button style="margin-left : 20px;" id="search" type="button" class="btn btn-default">검색</button>
      </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
  $("#search").click(function(){
    url = /cafe/ + $("#choice").val();
    $(location).attr("href",url);
  });
</script>
{% endblock %}