{% load staticfiles %}
<header>
<nav id='navbar-main' class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <div id="logo" style="margin-top:30px; margin-bottom:30px;">
                <a class="logo" href="/"><img src="{% static 'img/logo-pink.png' %}" height="50" alt="cafegory" data-retina="true" class="logo_normal"></a>
                <h2 class="title" style="float: right;color:#8FA8D4; ">  커핀</h2>
            </div>
        </div>
    </div>
</nav>
</header>
