.container{
	max-width:1000px;
}
.list_div{
	height:30px;
	border-bottom:1px solid;
	border-top:1px solid;
	font-size:20px;
}
#logo{
    width: 70px;
    display: block;
    margin: 0 auto;
}
#log_in_out{
	position: absolute;
	top:30px;
	right:10px;
	color:grey;
	z-index:100;
}
#log_in_out a{
color:grey;
}
#log_in_out a:hover{
color:grey;
text-decoration: none;
}

#index_tabs{
	width:100%;
	align-content: center;
}
#index_tabs li a{
	border-style: solid;
	border-color: #8FA8D4;
	background-color: #FFFFFF;
	border-radius:0;
	color:#8FA8D4;
}
#index_tabs li a:hover{
	background-color:#8FA8D4;
	color:white;
}
.navbar-default{
	background: none;
}

#body{
	padding-top:0;
}
.false{
    color: #D8D8D8;
}
#cafe_name{
text-align: center;
}
#index_showcase{
	margin-top:0;
}
.detail_jumbotron i{
margin:0 40px;
}
@media screen and (max-width: 1200px) {
	.detail_jumbotron i{
	margin:0 30px;
	}
}
@media screen and (max-width: 767px) {
	.detail_jumbotron i{
	margin:0 15px;
	}
}
@media screen and (max-width: 480px) {
	.detail_jumbotron i{
	margin:0 5px;
	}
}

.filter_on a{
	background:#8FA8D4 !important;
	color:white !important;
}
