.container{
	max-width:1000px;
}
.list_div{
	height:30px;
	border-bottom:1px solid;
	border-top:1px solid;
	font-size:20px;
}
#logo{
    width:30%;
}


#index_tabs{
	width:100%;
    align-content: center;
}
#index_tabs li a{
    border-style: solid;
    border-color: #8FA8D4;
	background-color: #FFFFFF;
	border-radius:0;
	color:#8FA8D4;
}
#index_tabs li a:hover{
	background-color:#8FA8D4;
	color:white;
}

.navbar-default{
	background: none;
}

#body{
    	padding-top:100px}
.false{
    color: #D8D8D8;
}

#cafe_name{

text-align: center;

}